

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container-home {
    text-align: center;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
}

.logout-btn{
    margin: 0px 0px 0px -50px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(0 0 0);
    color: #f9d200;
    border: 2px solid #000000;
    transition-duration: 0.5s;
    height: 55px;
    width: 200px;
    border-radius: 50px;



}

.logout-btn:hover{

    background-color: #df4f4f;
    color: white;
    transform: translateY(-3px);



}
.main-button{



    display: flex;
    justify-content: center;
    margin: 0px -50px 0px 0px;
    padding: 0px 0px 0px 0px;

}