#verify-otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
}

.container-item {
  background: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.verify-first {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
}

.input_class {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-secondary {
  background-color: #007bff;
  color: white;
  padding: 0px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  text-align: center;
  transition-duration: 0.5s;
}

.btn-secondary:hover {
  background-color: black;
  transform: translateY(-3px);
  transition-duration: 0.5s;
}

.error-msg {
  color: red;
  font-size: 0.9em;
}

.success-message {
  color: green;
  font-size: 1.1em;
  margin-top: 20px;
}
