
.forget_container{

    width: 300px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Soft shadow */
                0 6px 20px rgba(0, 0, 0, 0.19); /* Deeper shadow */
    background-color: #fff; /* White background */
    text-align: center; /* Centered text */
    font-family: Arial, sans-serif; /* Font styling */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */

}

.forget_container:hover{

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), /* Larger soft shadow */
    0 12px 40px rgba(0, 0, 0, 0.29); /* Larger deeper shadow */
transform: scale(1.05); /* Slightly larger on hover */



}

.items_container{
    margin: 5px 5px 5px 3px;
    padding: 4px 4px 4px 5px;

}




